/* .h-screen bg-cover bg-center flex items-center{ */


.logo{
    
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        width: 50%;
        align-items: center;
       
      
}

.main{
    height: 100vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
      
}

.img{
    margin: auto;
    display: block;
    margin-top: 20%;
     padding-bottom: 10%;
}
.main_text{
    margin-top: 20px;
}
.luk{
    background-color: #f7f7f7;
    text-align: center;
}
.luk>h1{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    padding-top: 5%;
    padding-bottom: 15px;
}

.luk>pre{
    font-family: 'Inter', sans-serif;
    color: #828282;
    font-size: 24;
}

.luk>button{
    
        background-color: black;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 60px;
}